/* https://markheath.net/post/css-comma-separated-list */
.comma-list {
    display: inline;
    list-style: none;
    padding: 0px;
}
.comma-list li {
    display: inline;
}
.comma-list li:not(:last-child)::after {
    content: ", ";
}

img.blinking-200 {
    animation: blinker 500ms !important;
    animation-iteration-count: infinite !important;
}

img.blinking-1000 {
    animation: blinker 2s !important;
    animation-iteration-count: infinite !important;
}

code.noscroll {
    overflow: hidden !important; /* Hide scrollbars */ 
}

@keyframes blinker {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.left-50{
    background-color: pink;
    float: left;
    display: flex;
    width: 30vw;
    height: 100vh;
    overflow: true;
    padding: 0;
    margin: 0;
}

.right-50{
    float: right;
    width: 30vw;
    height: 100vh;
}

li.good::marker{
    content: "😻";
}

li.bad::marker{
    content: "🙁";
}

li.kotz::marker{
    content: "🤮";
}